*{
    margin: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: Arial;
}
.navbar{
    background-color:#0f1111;
    height:60px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    
}
.nav-logo img{
    width:100px;
    height:50px;
}
.nav-logo img:hover{
    border:2px solid white
}
/* ----------------------------------------------------------- */
.add-icon{
    display:flex;
    align-items:center;
}
.deliverto{
    margin-left:12px;
    color:#ccc;
    font-size:13px;
}
.india{
    font-size:15px;
    margin-left:3px;
    color:#fff
}
.nav-address{
    margin-left:12px;
   
}
.nav-address:hover{
    border:1px solid white;
}
/* ---------------------------------------------- */
.nav-search{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left:12px ; */
    background-color: rgb(255, 255, 255);
    width:620px;
    height:40px;
    border-radius:4px;
}
.dropdown{
    /* text-align:center; */
    font-size:15px ;
    height:40px;
    background: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-space{
    font-size:medium ;
    height:40px;
    width:100%;
    border:none;

}
.search-icon{
    display:flex;
    justify-content: center;
    align-items:center;
    height:40px;
    width:50px;
    background-color: #febd69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
}
/* ----------------------------------------------- */

#signup{
    color:#ffff;
    font-size:12px;
}
#accounts{
    color:#ffff;
    font-size:14px;
    font-weight:700;
}

#return{
    color:#ffff;
    font-size:12px;
}
#orders{
    color:#ffff;
    font-size:14px;
    font-weight:700;
}
.nav-signin:hover{
    border:2px solid white
}

.nav-return:hover{
    border:2px solid white
}

/* -------------------------------------------------- */

.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size:14px;
    font-weight: 700;
}
.nav-cart:hover{
    border:2px solid white
}
/* --------------------------------------------------------- */

.panel{
    height:40px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-all{
    margin-left: 0px;
}
.panel-all:hover{
    height:100%;
    display: flex;
    align-items:center;
    border:2px solid white;
    cursor: pointer;
}
.panel-ops p{
    
    height: 100%;
    display: inline;  
    margin: 10px;
}
.panel-ops a{
    margin-right: 10px;
    text-decoration: none;
    
}
.panel-ops a:hover{
    
    text-decoration: none;
    cursor: pointer;
    border: 1px solid white;
}

.panel-ops {
    width:70%;
    font-size: 14px;
}

.panel-deals{
    font-size:14px;
    font-weight:700;
    margin-right: 10px;
}

.panel-deals:hover{
    cursor: pointer;
    height:100%;
    display: flex;
    align-items:center;
    border:2px solid white
}

/* --------------------main section----------------------------- */
.main-section{
    background-image:url("imagess/hero_image.jpg");
    background-size: cover;
    height:380px;
    color:black;
    display: flex;
    justify-content: center;
    align-items:flex-end;

}
.main-msg p{
    background-color: white;
    display: flex;
    color:#0f1111;
    height:40px;
    justify-content: center;
    align-items:center;
    font-size:14px;
    margin-bottom:25px;
   
}
.main-msg a{
    font-size:14px;
    text-decoration:none;
    color:#007185;
    cursor: pointer;
}
/* --------------------main-contents--------------------------- */

.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    border: 2px solid black;
    height:400px;
    width:23%;
    background-color: white;
    margin-top: 5px;
    padding:20px 0px 15px;

}
.box-image1{
    background-image: url("imagess/box1_image.jpg");
    height:320px;
    width:300px;
    background-size: cover;
    cursor: pointer;
}

.box-content{
    margin-left:20px;
    margin-right:20px;
}
.box-content h2{
    color: #0f1111;
}
.box-content p{
    cursor: pointer;
    color: #007185;
}
/* ----------- */
.box-image2{
    background-image: url("imagess/box2_image.jpg");
    height:320px;
    width:300px;
    background-size: cover;
    cursor: pointer;
}
.box-image3{
    background-image: url("imagess/box3_image.jpg");
    height:320px;
    width:300px;
    background-size: cover;
    cursor: pointer;
}
.box-image4{
    background-image: url("imagess/box4_image.jpg");
    height:320px;
    width:300px;
    background-size: cover;
    cursor: pointer;
}
.box-image5{
    background-image: url("imagess/box5_image.jpg");
    height:320px;
    width:300px;
    background-size: cover;
    cursor: pointer;
}

.box-image6{
    background-image: url("imagess/box6_image.jpg");
    height:320px;
    width:300px;
    background-size: cover;
    cursor: pointer;
}
.box-image7{
    background-image: url("imagess/box7_image.jpg");
    height:320px;
    width:300px;
    background-size: cover;
    cursor: pointer;
}
.box-image8{
    background-image: url("imagess/box8_image.jpg");
    height:320px;
    width:300px;
    background-size: cover;
    cursor: pointer;
}
/* -----------------------footer------------------ */

.foot-panel1{
    color:#ffffff;
    background-color: #37475a;
    height:50px;
    display: flex;
    justify-content: center;
    align-items:center;     
    font-size:13px;
}

.foot-panel2{
    display: flex;
    /* gap:45px; */
    justify-content:space-evenly;
    color:#ffffff;
    background-color: #222f3d;
    height:300px;
}
ul{
    margin-top:20px;
}
ul p{
    font-weight: 700;
}
ul a{
    display: block;
    text-decoration: none;
    font-size: 13px;
    margin-top:10px;
}
.foot-panel3{
    height: 100px;
    background-color:  #222f3d;
    color:#ffffff;
    border-top: 1px solid white;
    display:flex;
    justify-content:center;
    align-items:center;
}
.foot-panel4{
    /* display:flex;
    justify-content:center; */
    height:60px;
    background-color:#131A22;
}

.pages{
    text-align: center;
    padding: 5px;
}
.pages a{
    margin-right:10px;
    font-size: 12px;        
   

}
.copyright{
    text-align:center;
    font-size: 12px;
}